<!DOCTYPE html>
<html>
<head>
    <title>GraphQL tutorial</title>
</head>
<body>
<h1>Hello</h1>
<p>Welcome to this GraphQL tutorial</p>
<p>Your server works!</p>
<hr>

<h2>Library</h2>
<em>TODO</em>

<script>
    /** @TODO: Make demo **/
</script>
</body>
</html>
